fastapi[all]
uvicorn[standard]
psycopg2-binary
redis
qdrant-client>=1.7.0
openai>=1.0.0
sqlalchemy
pydantic[email]
pydantic-settings
python-dotenv
passlib[bcrypt]
python-multipart
aiohttp>=3.8.0
httpx>=0.24.0
python-jose[cryptography]
tenacity
fastapi-mail
weasyprint

# Dependencias para Google Drive API
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
